@model ProjFinal.Models.Purchase

@{
    ViewData["Title"] = "Detalhes Compra";
}

<h1>Detalhes da Compra</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Data da Compra</dt>
        <dd class="col-sm-9">@Model.PurchaseDate.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-3">Estado</dt>
        <dd class="col-sm-9">@Model.Status</dd>
    </dl>

    <h4>Livros Comprados</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Preço Unitário</th>
                <th>Quantidade</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Book.Title</td>
                    <td>@item.Price.ToString("C2", new System.Globalization.CultureInfo("pt-PT"))</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity).ToString("C2", new System.Globalization.CultureInfo("pt-PT"))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" class="text-end">Total:</th>
                <th>
                    @Model.TotalPrice.ToString("C2", new System.Globalization.CultureInfo("pt-PT"))
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div>   
    <a asp-action="Index">Voltar</a>
</div>
